{% extends 'base.html' %}

{% block content %}
<div class="login-container">
    <h2>Create a User Account</h2>
    <form method="POST" action="{% url 'create_user' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.first_name.auto_id }}">First Name:</label>
            <input type="text" name="{{ form.first_name.html_name }}" id="{{ form.first_name.auto_id }}" required class="form-control" value="{{ form.first_name.value|default:'' }}">
        </div>
        <div class="form-group">
            <label for="{{ form.last_name.auto_id }}">Last Name:</label>
            <input type="text" name="{{ form.last_name.html_name }}" id="{{ form.last_name.auto_id }}" required class="form-control" value="{{ form.last_name.value|default:'' }}">
        </div>
        <div class="form-group">
            <label for="{{ form.email.auto_id }}">Email:</label>
            <input type="email" name="{{ form.email.html_name }}" id="{{ form.email.auto_id }}" required class="form-control" value="{{ form.email.value|default:'' }}">
        </div>
        <div class="form-group">
            <label for="{{ form.password.auto_id }}">Password:</label>
            <input type="password" name="{{ form.password.html_name }}" id="{{ form.password.auto_id }}" required class="form-control" value="{{ form.password.value|default:'' }}">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
