{% extends 'base.html' %}

{% block content %}

<div class="login-container">
    <h2>Login</h2>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" required id="email" class="form-control">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" required id="password" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <a href="{% url 'forgot_password' %}" class="forgot-password-link">Forgot Password ?</a>
</div>
{% endblock %}
